
Lab2/.idea/

Lab2/packages/

Lab2/databaseLab2/bin/

Lab2/databaseLab2/obj/

Lab2/databaseLab2/Properties/

Lab3/MyLab3/Сompetition.cs

Lab3/MyLab3/Сoach.cs

Lab3/MyLab3/TeamComp.cs

Lab3/MyLab3/Team.cs

Lab3/MyLab3/Stadium.cs

Lab3/MyLab3/Results.cs
